# IntelliJ
.idea/
*.iml
*.iws
/classes/
/out/

# Log files
*.class
*.log

# Mac
.DS_Store

# Miscellaneous
/.metadata/
/.recommenders/
/RemoteSystemsTempFiles/
javascript/node_modules/

# sbt specific
.cache
.history
.lib/
dist/*
lib_managed/
project/**/project
project/activator-sbt*
src_managed/
target/

# Scala worksheets (Eclipse or IntelliJ)
*.sc

# Eclipse specific
.cache-main
.cache-tests
.classpath
.project
.scala_dependencies
.settings
.worksheet
bin/

# ScalaTest
exportToHTML

# Windows
desktop.ini
thumbs.db